* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}

:root {
  --dark: rgb(73, 78, 82);
  --light: rgb(19, 87, 81);
  --midlight: rgb(11, 11, 100);
  --text: beige;
  --bodytext: black;
  --fontFamily: Arial, Helvetica, sans-serif;
}


.header {
  background-image: url('./patterns.png');
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text);
  background-color: var(--dark);
  margin: 0;
  padding: 25px;

}

#img-mount {
  display: flex;
  flex-wrap: wrap;
  border-radius: 35px;
}

.navbar li {
  display: inline-block;

}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li a {
  display: block;
  padding: 10px 15px;
  border-left: 1px var(--text);
  color: var(--text);
  text-decoration: none;
}

li a:hover {
  background-color: var(--light);
  text-decoration: underline;
}

.active {
  background-color: #04aa6d;
}

.about-me,
.work,
.contact-me,
.resume {
  display: flex;
  float: left;
  padding: 10px;
  margin: 25px;
}

#pic {
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}

.side {
  border-right: 5px solid var(--midlight);
  padding: 15px;
  margin: 15px;
}

#about-me {
  display: flex;
  padding: 20px;
  margin: 10px;
}

#contact-me p {
  display: inline;
  float: left;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  margin: 15px;
  color: var(--dark);
  text-decoration: underline;
}

#contact-me a {
  text-decoration: underline;
  color: var(--dark);
}

footer {
  padding: 30px;
  clear: both;
  text-align: center;
}

@media screen and (max-width: 1400px) {

  .navbar,
  .about-me,
  .work,
  article,
  .contact-me {
    flex-direction: column;
  }

}


}